*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* font-family: 'Montserrat', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Roboto', sans-serif; */

.container {
  max-width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
}

.notification{
  position: sticky;
  padding: 14px 0;
  background: #f9f9f9;
}

.notification .container{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.notification  p{
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  text-transform: uppercase;
  color: #222222;
}

.notification  p  a{
  color: #3c8953;
}

.notification p a:hover{
  color: #6db984;
}

.close-icon{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 30px;
    height: 24px;
    width: 24px;
    background: #378852;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}