* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* font-family: 'Montserrat', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Roboto', sans-serif; */

body {
  font-family: "Oswald", sans-serif;
  background: #012c1f url("../img/pattern-bg.png");
}

.container {
  max-width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
}

.h1 {
  color: #ffffff;
  font-size: 50px;
  font-weight: 500;
  line-height: 54px;
  text-transform: uppercase;
}

.notification {
  position: sticky;
  padding: 14px 0;
  background: #f9f9f9 url("../img/pattern-bg.png");
}

.notification .container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.notification p {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  text-transform: uppercase;
  color: #222222;
}

.notification p a {
  color: #217f40;
  transition: 0.3s all;
}

.notification p a:hover {
  text-decoration: none;
}

.close-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 30px;
  height: 24px;
  width: 24px;
  background: #378852;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.nav {
  position: sticky;
  z-index: 99;
}

.nav-top {
  padding: 13px 0 8px;
}

.nav-top .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-CTA-btns a {
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  line-height: 18px;
  font-weight: 600;
  text-transform: uppercase;
  background: #0f5533 url(../img/pattern-bg.png);
  padding: 10px 44px;
  margin-left: 7px;
  display: inline-block;
  transform: skew(-16deg);
  transition: 0.3s all;
}

.nav-CTA-btns a span {
  display: block;
  transform: skew(16deg);
}

.nav-CTA-btns a:first-child {
  background: #2f854c url(../img/pattern-bg.png);
  padding: 10px 32px;
}

.nav-CTA-btns a:hover {
  background: #2fac59 url(../img/pattern-bg.png);
}

.nav-bottom {
  background: #08512d url("../img/pattern-bg.png");
  box-shadow: rgb(1 44 31 / 65%) 0px 0px 14px 0px;
  overflow: hidden;
}

.nav-bottom .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-bottom nav .nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-bottom nav .nav-list > li {
  list-style-type: none;
}

.nav-bottom .nav-list a {
  padding: 20px 30px 18px;
  display: inline-block;
  transform: skew(-16deg);
  transition: 0.3s all;
}

.nav-bottom .nav-list > li > a > span {
  transform: skew(16deg);
  display: block;
}

.nav-bottom .nav-list > li > a:hover {
  background: #1b7d3b url(../img/pattern-bg.png);
}

.nav-bottom .nav-list .active a {
  background: #1b7d3b url(../img/pattern-bg.png);
}

.nav-bottom a {
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
}

.nav-form {
  width: 255px;
  height: 40px;
  display: flex;
  background: #012c1f url("../img/pattern-bg.png");
}

.nav-form input {
  font-family: "Oswald", sans-serif;
  color: #879b95;
  width: 100%;
  padding: 0 13px;
  font-size: 16px;
  letter-spacing: 1px;
  color: #fff;
  background: transparent;
  outline: none;
  border: none;
}

.nav-form input::placeholder {
  font-family: "Oswald", sans-serif;
  color: #879b95;
  font-size: 16px;
  line-height: 18px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.nav-form button {
  background: transparent;
  border: none;
  margin-right: 16px;
}

.titleBar {
  position: relative;
  font-family: "Oswald", sans-serif;
  background: #1b7d3b url("../img/pattern-bg.png");
  overflow: hidden;
}

.titleBar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.titleBar h1 {
  color: #ffffff;
  font-size: 50px;
  font-weight: 500;
  line-height: 54px;
  text-transform: uppercase;
  margin: 0 0 3px -6px;
}

.titleBar-logoDiv {
  position: relative;
  padding: 23px 82px 27px 72px;
  background: #ffffff;
  transform: skew(-16deg);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titleBar-logoDiv::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  left: 281px;
  width: 100vw;
  background: #ffffff;
  height: 100%;
}

.titleBar-logoDiv p,
.titleBar-logoDiv img {
  transform: skew(16deg);
  padding: -2px;
  margin: -2px -8px;
}

.titleBar-logoDiv p {
  color: #217f40;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
  margin-left: -25px;
  margin-top: 0px;
}

.Hero-slider {
  min-height: 550px;
  position: relative;
  display: grid;
  place-items: center;
  overflow: hidden;
}

.Hero-slider > .bg-pattern {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgb(1 44 31 / 0%) url(../img/hero-bg.png);
  background-position: center;
  opacity: 0.25;
  background-size: cover;
  background-repeat: no-repeat;
}

.Hero-slider .slider-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slider-box .info-box {
  width: 550px;
  margin-left: 63px;
}

.slider-box .info-box h2 {
  line-height: 50px;
  margin-bottom: 56px;
}

.slider-box .info-box p {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 20;
  color: #ffffff;
  width: 90%;
}

.slider-box .img-box {
  position: relative;
  margin-right: 93px;
}

.slider-box .img-box .playBtn {
  position: absolute;
  top: 51%;
  transform: translate(-50%, -50%);
  left: 50%;
  background: rgb(1 44 31 / 66%);
  height: 87px;
  width: 87px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.3s all;
}

.slider-box .img-box .playBtn:hover {
  background: rgb(1 44 31 / 96%);
}

.slider-box .img-box .playBtn img {
  margin-left: 10px;
}

/* for slick slider to display slider-box in flex */
.Hero-slider .slick-initialized .slick-slide {
  display: flex;
}

.Hero-slider .slick-dotted.slick-slider {
  margin-bottom: 8px;
}

.product-slider.slick-dotted.slick-slider {
  width: 90%;
  margin: 0 auto;
}

.Hero-slider .slick-dots {
  bottom: -16%;
}

.product-slider .slick-dots {
  bottom: -34%;
}

.Hero-slider .slick-dots li button:before,
.product-slider .slick-dots li button:before {
  height: 7px;
  content: "";
  background-color: #ffffff;
}

.Hero-slider .slick-next {
  right: -10%;
}

.Hero-slider .slick-prev {
  left: -10%;
}

.product-slider .slick-next {
  right: -6%;
}

.product-slider .slick-prev {
  left: -6%;
}

.Hero-slider .slick-next:before,
.Hero-slider .slick-prev:before {
  font-size: 35px;
}

.Hero-slider .slick-next:before,
.product-slider .slick-next:before {
  content: url(../img/hero-slider-right-arrow.png);
}
.Hero-slider .slick-prev:before,
.product-slider .slick-prev:before {
  content: url(../img/hero-slider-leftt-arrow.png);
}
/********/

.main {
  padding: 80px 0;
  overflow: hidden;
}

.main .flex {
  display: flex;
}

.flex .main-content {
  flex: 1;
  width: 70%;
  padding: 0 30px 0 0;
}

.event {
  position: relative;
  width: 256px;
  height: fit-content;
}

.event h3 {
  background: #08512d url(../img/pattern-bg.png);
  color: #ffffff;
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 10px 20px;
}

.event .container {
  background: #1b7d3b url(../img/pattern-bg.png);
  padding-top: 20px;
  padding-bottom: 12px;
  padding-left: 28px;
}

.event-info {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  margin-bottom: 15px;
  margin-left: -7px;
}

.event-info span {
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  background: #ffffff;
  color: #1b7d3b;
  width: 46px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.event-info .info-box {
  padding-left: 10px;
}

.info-box a {
  font-family: "Oswald", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  color: #ffffff;
  margin-bottom: 3px;
  display: block;
  text-underline-position: under;
}

.info-box p {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #c7d9cc;
}

hr {
  margin-top: 78px;
}

.product-slider img {
  border: 10px solid transparent;
  border-image: url(../img/pattern-bg.png) 25 25 round;
  border-radius: 5px;
}

.product-slider .slick-slide {
  margin: 0 15px;
}

.posts {
  padding: 38px 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  grid-gap: 30px;
}

.posts .card {
  position: relative;
  overflow: hidden;
  height: auto;
  background: #167d3b url(../img/pattern-bg.png);
  color: #ffffff;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.posts .card img {
  min-height: 150px;
  height: 162px;
  width: 100%;
}

.card .card-info {
  padding: 16px 10px 27px;
}

.card .card-info h3 {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 9px;
}

.card .card-info p {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
}

.posts .card a {
  background: #08512b url(../img/pattern-bg.png);
  color: #ffffff;
  width: 100%;
  padding: 10px;
  text-decoration: none;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
  transition: 0.3s all;
}

.posts .card a:hover {
  background: #156b3e url(../img/pattern-bg.png);
}

.banners {
  padding-top: 2px;
  position: relative;
  overflow: hidden;
}

.banners .banner-box {
  background: #288245 url(../img/pattern-bg.png);
  position: relative;
  display: flex;
  overflow: hidden;
}

.banners .banner-box:nth-child(even) {
  background: #145837 url(../img/pattern-bg.png);
  direction: rtl;
}

.banner-box .banner-info {
  position: relative;
  color: #ffffff;
  text-align: left;
  padding: 63px 44px 46px 30px;
}

.banners .banner-box img {
  clip-path: polygon(0 0, 100% 0, 87% 100%, 0 100%);
}

.banners .banner-box:nth-child(even) img {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 13% 100%);
}

.banner-info h3 {
  position: relative;
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.banner-info p {
  position: relative;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
}

.contact {
  background: #08512d url(../img/pattern-bg.png);
  padding: 40px 0;
  display: grid;
  place-items: center;
}

.contact h4 {
  font-family: "Oswald", sans-serif;
  font-size: 30px;
  line-height: 24px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}

.contact-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px 28px;
  padding: 20px 0 0;
  place-items: center;
}

.contact-form .span-field,
.contact-form button {
  grid-column: 1/3;
}

.contact-form label {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  text-transform: uppercase;
  color: #ffffff;
}

.contact-form .input-field {
  width: 257px;
  margin-top: 5px;
}

.contact-form .input-field input,
.contact-form .input-field.span-field {
  width: 100%;
}

.input-field input[type="text"],
.input-field input[type="email"],
.input-field select {
  padding: 9px 10px;
  margin-top: 5px;
  width: 100%;
  color: #787878;
}

.input-field input[type="radio"] {
  display: inline-block;
  vertical-align: text-bottom;
  appearance: none;
  height: 22px;
  width: 22px;
  margin-top: 12px;
  background: #ffffff;
  border: 4px solid #ffffff;
  border-radius: 50%;
}

.input-field input[type="radio"]:checked {
  background: #1b7d3b url(../img/pattern-bg.png);
}

.input-field .sm-txt {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  text-transform: capitalize;
  color: #ffffff;
  margin-right: 12px;
  margin-left: 2px;
}

.input-field textarea {
  width: 100%;
  height: 89px;
  margin-top: 2px;
  padding-top: 8px;
  padding-left: 10px;
}

.input-field textarea::placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #787878;
}

.contact-form button {
  background: #012c1f url(../img/pattern-bg.png);
  padding: 6px 60px;
  margin-top: 3px;
  border: none;
  outline: none;
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
  color: #ffffff;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.3s all;
}

.contact-form button:hover {
  background: #027250 url(../img/pattern-bg.png);
}

.footer {
  padding: 30px 0;
  display: grid;
  place-items: center;
  background: #012c1f url(../img/pattern-bg.png);
}

.footer .container {
  display: grid;
  place-items: center;
}

.footer-nav ul,
.footer .social-links {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.footer .social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 12px;
}

.footer-nav ul li {
  position: relative;
}

.footer-nav ul li:not(:last-child)::after {
  position: absolute;
  content: " /";
  font-weight: 500;
  right: -2px;
  color: #ffffff;
}

.footer .social-links li a {
  padding: 0 9px;
  transition: 0.3s all;
}

.footer .social-links li a:hover {
  opacity: 0.5;
}

.footer-nav ul li a {
  position: relative;
  display: inline-block;
  padding: 0 15px;
  font-size: 16px;
  font-weight: 500;
  font-family: "Oswald";
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 1.5;
  transition: 0.3s all;
}

.footer-nav ul li a:hover {
  text-decoration: underline;
}

footer span {
  font-size: 14px;
  font-family: "Montserrat";
  color: rgb(255, 255, 255);
  line-height: 1.714;
}

/* Tablet view */
@media (max-width: 1023px) {

  .notification{
    padding: 17px 0 12px;
  }

  .close-icon{
    right: 16px;
  }

  .nav-top {
    padding: 11px 0 12px;
  }

  .nav-CTA-btns a {
    padding: 10px 47px;
    margin-left: 7px;
  }

  .nav-CTA-btns a:first-child {
    padding: 10px 35px;
  }

  .nav-bottom .nav-list a {
    padding: 22px 21px 22px 22px;
    font-size: 16px;
    letter-spacing: 0;
  }

  .nav-form {
    width: 261px;
    height: 42px;
  }

  .nav-form input {
    padding: 0px 6px 0 15px;
  }

  .nav-form button {
    margin-right: 17px;
  }

  .nav-form input::placeholder {
    letter-spacing: 0;
  }

  .titleBar h1 {
    font-size: 40px;
    margin-left: -3px;
  }

  .titleBar-logoDiv {
    padding: 14px 73px 19px 76px;
  }

  .h1{
    font-size: 40px;
    font-family: "Oswald";
    color: #ffffff;
    text-transform: uppercase;
    line-height: 1.25;
    text-align: left;
  }

  .Hero-slider {
    min-height: 462px;
    padding: 0px 0 85px;
  }

  .Hero-slider .img-box {
    margin-top: 42px;
    margin-right: 235px;
  }

  .Hero-slider img {
    width: 290px;
  }

  .Hero-slider .img-box .playBtn {
    left: 52%;
    top: 49%;
  }

  .Hero-slider .img-box .playBtn img {
    width: 31px;
  }
  

  .Hero-slider .info-box {
    margin-top: 34px;
    width: 50%;
    margin-left: 0;
  }

  .Hero-slider .slider-box .info-box h2 {
    margin-bottom: 13px;
    letter-spacing: 0.3px;
  }

  .Hero-slider .slider-box .info-box p {
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 1px;
    font-weight: 100;
  }

  .Hero-slider .slick-dots {
    bottom: -24%;
    left: -5%;
  }

  .Hero-slider .slick-dots li button:before,
  .product-slider .slick-dots li button:before {
    height: 6px;
    width: 20px;
  }

  .main {
    padding: 61px 0;
  }

  .flex .main-content {
    padding: 0 50px 0 0;
  }

  .event{
    width: 261px;
  }

  .event h3 {
    padding: 13px 20px;
  }

  .event .container {
    padding-top: 18px;
    padding-bottom: 17px;
    padding-left: 16px;
  }

  .event-info {
    margin-bottom: 12px;
    margin-left: 2px;
  }

  .event-info span {
    width: 48px;
    padding: 12px 20px;
  }

  .event-info .info-box {
    padding-left: 13px;
  }

  .info-box a {
    margin-bottom: 7px;
  }

  .product-slider img {
    height: 200px;
  }

  .product-slider .slick-dots {
    bottom: -26%;
  }

  .product-slider.slick-dotted.slick-slider {
    width: 100%;
  }

  hr {
    margin-top: 78px;
  }

  .posts {
    padding: 40px 0;
    grid-gap: 30px;
  }

  .posts .card img {
    min-height: 167px;
  }

  .card .card-info {
    padding: 16px 12px 46px;
  }

  .card .card-info h3{
    margin-bottom: 11px;
  }

  .posts .card a{
    padding: 11px;
    letter-spacing: 1px;
  }

  .banners .banner-box img {    
    min-width: 348px;
    clip-path: polygon(0 0, 100% 0, 80% 100%, 0 100%);
  }

  .banners .banner-box:nth-child(even) img {
    min-width: 348px;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 20% 100%);
  }

  .banner-box .banner-info {
    padding: 64px 44px 68px 30px;
  }

}
